<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= pagetitle %></title>
<script src="js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" id="skin-css" href="css/style_white.css">
<link rel="stylesheet" href="css/bi.css">




</head>

<body>
    <h1><%= pagetitle %></h1>



  <% if (status) { %>  
    <h3>数据列表</h3>
      <%= search_text %> 共计：<%= datalist.length %>  &nbsp;<a href="/tongji">返回</a>

    <% if (datalist.length) { %>  
      <table class="table table-hover">
        <thead>
        <tr>
            <th>event_id</th>
            <th>account</th>
            <th>time</th>
            <th>time_next</th>
            <th>event_key</th>
            <th>event_value</th>
            <th>MainWindow</th>
            <th>time_stay</th>
            <th>func</th>
            <th>func_last</th>
            <th>cp</th>
            <th>cp_type</th>
            <th>city</th>
        </tr>
        </thead>
        <tbody>
        <% datalist.forEach(function(data){ %>

          <tr>
            <td width="5%"><%= data.event_id %></td>
            <td width="5%"><%= data.account %></td>
            <td width="8%"><%= data.time %></td>
            <td width="7%"><%= data.time_next %></td>
            <td width="10%"><%= data.event_key %></td>
            <td width="10%"><%= data.event_value %></td>
            <td width="10%"><%= data.MainWindow %></td>
            <td width="5%"><%= data.time_stay %></td>
            <td width="10%"><%= data.func %></td>
            <td width="10%"><%= data.func_last %></td>
            <td width="10%"><%= data.cp %></td>
            <td width="6%"><%= data.cp_type %></td>
            <td width="4%"><%= data.city %></td>
          </tr>
        <% }) %>  
        </tbody>
      </table>




    <% } %>  
  <% } else {%>
    <%= search_text %><strong>无数据</strong>&nbsp;<a href="/tongji">返回</a>
  <% } %>  



</body>
</html>
