<% include top %>


    <div class="panel panel-default draggable">
      <div class="panel-body">



<div class="container-fluid">
  <div class="row-fluid">
    <h1>超级新债通</h1>

<div>
	<form class="span12" action="/tj_search" method="post">
		<fieldset>
			<legend>请输入</legend>
				<span>
					<select name="search_field" id="search_field" class="form-control">
			            <option value="event_id">event_id</option>
			            <option value="account" selected="selected">account</option>
			            <option value="time">time</option>
			            <option value="time_next">time_next</option>
			            <option value="event_key">event_key</option>
			            <option value="event_value">event_value</option>
			            <option value="MainWindow">MainWindow</option>
			            <option value="time_stay">time_stay</option>
			            <option value="func">func</option>
			            <option value="func_last">func_last</option>
			            <option value="cp">cp</option>
			            <option value="cp_type">cp_type</option>
			            <option value="city">city</option>
					</select>
				</span>
				<input id="search_text" name="search_text" type="text" class="form-control">
			<input type="submit" value="查询" class="btn btn-default">
		</fieldset>
	</form>		
</div>

  <% if (status) { %>  
    <h3>数据列表</h3>
      <%= search_text %> 共计：<%= datalist.length %>  
    <% if (datalist.length) { %>  
      <table class="table">
        <thead>
        <tr>
            <td>event_id</td>
            <td>account</td>
            <td>time</td>
            <td>time_next</td>
            <td>event_key</td>
            <td>event_value</td>
            <td>MainWindow</td>
            <td>time_stay</td>
            <td>func</td>
            <td>func_last</td>
            <td>cp</td>
            <td>cp_type</td>
            <td>city</td>
        </tr>
        </thead>
        <tbody>
        <% datalist.forEach(function(data){ %>
          <tr>
            <td><%= data.event_id %></td>
            <td><%= data.account %></td>
            <td><%= data.time %></td>
            <td><%= data.time_next %></td>
            <td><%= data.event_key %></td>
            <td><%= data.event_value %></td>
            <td><%= data.MainWindow %></td>
            <td><%= data.time_stay %></td>
            <td><%= data.func %></td>
            <td><%= data.func_last %></td>
            <td><%= data.cp %></td>
            <td><%= data.cp_type %></td>
            <td><%= data.city %></td>
          </tr>
        <% }) %>  
        </tbody>
      </table>
    <% } %>  
  <% } else {%>
  <%= search_text %>
    <strong>无数据</strong>
  <% } %>  



  </div>
</div>



      </div>
      </div>

        

<% include footer %>
<% include bottom %>

