<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= pagetitle %></title>
<script src="js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<script src="js/echarts.min.js"></script>
<script src="js/china.js"></script>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" id="skin-css" href="css/style_white.css">
<link rel="stylesheet" href="css/bi.css">


</head>

<body>
<div class="biPageWrap">
<div class="biSideBar">
  <ul>
    <li><a href="/tongji?s=summary">概览</a></li>
    <li><a href="/tongji?s=product_type">按产品</a></li>
    <li><a href="/tongji?s=cp_type">按机构</a></li>
    <li><a href="/tongji?s=city">按地区</a></li>
  </ul>
</div>
<div class="biContentWrap">
    
<h1><%= pagetitle %></h1>
<div>
  <form class="span12" action="/tj_search_result" method="post">
    <div>
      <span>按条件筛选：</span>
        <span>
          <select name="search_field" id="search_field" class="form-control">
                  <option value="event_id">event_id</option>
                  <option value="account" selected="selected">account</option>
                  <option value="time">time</option>
                  <option value="time_next">time_next</option>
                  <option value="event_key">event_key</option>
                  <option value="event_value">event_value</option>
                  <option value="MainWindow">MainWindow</option>
                  <option value="time_stay">time_stay</option>
                  <option value="func">func</option>
                  <option value="func_last">func_last</option>
                  <option value="cp">cp</option>
                  <option value="cp_type">cp_type</option>
                  <option value="city">city</option>
          </select>
        </span>
        <input id="search_text" name="search_text" type="text" class="form-control">
      <input type="submit" value="查询" class="btn btn-default">
    </div>
  </form>   
</div>

  <% if (status!="city") { %>  
      <% if (datalist.length) { %>  

        <% datalist.forEach(function(data){ %>    
        <div class="filter_product_list">
          <ul>
            <li><a href=""><%= data._id.a %></a></li>
          </ul>
        </div>
        <% }) %>  
      <div class="clearfix"></div>

        <h3>概览</h3>
            <% datalist.forEach(function(data){ %>
            <div class="summary_list">
              <ul>
                <li><%= data._id.a %>:<span><%= data.count %></span></li>
              </ul>  
            </div>
            <% }) %>  


      <div class="clearfix"></div>


      <%= search_text %> 共计：<%= datalist.length %> <br/>
      <div style="border:1px solid #eee;padding:10px;clear:both;word-wrap:nowrap;word-break:break-all">
       <%= JSON.stringify(datalist) %>
      </div>

  <% } %>  

  <%} else if (status==="city") { %>  
          <div id="source_data" style="display:none">[<% datalist.forEach(function(data){ %>{"name":"<%= data._id.name %>","value":"<%= data.value %>"},<% }) %>]</div>
<div class="region_map">
<div id="main" style="width: 700px;height:500px;"></div>
</div>
<script type="text/javascript">
  // function randomData() {return Math.round(Math.random()*1000);}
 var myChart = echarts.init(document.getElementById('main'));
  var s = $("#source_data").html();
  s = s.substring(0,s.length-2)+"]";
  s = s.replace(/省|市/g,"");
  var mapdata = JSON.parse(s);
  // alert(JSON.stringify(mapdata));
             // mapdata = [
             //          {name: '北京',value: randomData() },
             //          {name: '天津',value: randomData() },
             //          {name: '上海',value: randomData() },
             //          {name: '重庆',value: randomData() },
             //          {name: '河北',value: randomData() },
             //          {name: '河南',value: randomData() },
             //          {name: '云南',value: randomData() },
             //          {name: '辽宁',value: randomData() },
             //          {name: '黑龙江',value: randomData() },
             //          {name: '湖南',value: randomData() },
             //          {name: '安徽',value: randomData() },
             //      ]

      option = {
          title: {
              text: '新债通用户分布',
              subtext: '按地区浏览',
              left: 'center'
          },
          tooltip: {
              trigger: 'item'
          },
          legend: {
              orient: 'vertical',
              left: 'left',
              data:['点击量']
          },
          visualMap: {
              min: 0,
              max: 5000,
              left: 'left',
              top: 'bottom',
              text: ['高','低'],           // 文本，默认为数值文本
              calculable: true
          },
          toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center',
              feature: {
                  dataView: {readOnly: false},
                  restore: {},
                  saveAsImage: {}
              }
          },
          series: [
              {
                  name: '事件点击量',
                  type: 'map',
                  mapType: 'china',
                  roam: false,
                  label: {
                      normal: {
                          show: true
                      },
                      emphasis: {
                          show: true
                      }
                  },
                  data:mapdata
              }
          ]
      };
      myChart.setOption(option);

</script>
      <div style="border:1px solid #eee;padding:10px;width:700px;clear:both;display:none;word-wrap:nowrap;word-break:break-all">
       <%= JSON.stringify(datalist) %>
      </div>
  <% } else {%>
  <%= search_text %><strong>无数据</strong>&nbsp;<a href="/tongji">返回</a>
  <% } %>  



  </div>
</div>

</body>
</html>
